ul {
    list-style-type: none;
}

table {
    //border:1px solid black;
    width: 100%;
}

th {
    padding: 5px;
}

body {
    font-family: "Roboto";
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.listStyle {
    border-bottom: 1px solid #d2cdcd;
}

.listStyle:hover {
    background: #f3f3f3;
}

.uploadingStatusRow {
    padding: 5px;
    text-align: center;
    background: #a9d4a9;
}

.upload-complete-icon {
    padding: 5px;
    font-size: 20px
}

.uploadingStatusRow .listStyle:hover {
    background-color: rgba(79, 156, 245, 0.16);
    border-bottom: 1px solid #d2cdcd;
}

.dataStyle {
    padding: 10px;
    cursor: default;
}

.nameDataField {
    cursor: pointer;
}

.name-field {
    cursor: text;
    padding-left: 4px;
}

.modifiedDataItem {
    color: grey;
}

.ProgressBar {
    height: 10px;
}

.progress-bar {
    background: #4f9cf5;
}

.header {
    padding: 20px
}

.navBarComponent {
    padding: 20px;
    position: fixed;
    z-index: 100;
    width: 100%;
    border: 2px solid black;
}

span.inlineRight div.dropBody {
    display: inline-block;
}

.activeDropBody {
    background-color: #cdebff;
}

.inlineRight {
    display: inline-block;
    float: right;
    padding-top: 5px;
}

.inlineLeft {
    display: inline-block;
    /*float: left;*/
    padding-top: 5px;
}

.inline {
    display: inline-block;
    padding: 5px
}

.fetching-loader {
    margin-left: 40%;
    width: 35px;
}

.sideBarComponent {
    position: fixed;
    margin-top: 15%;
    height: 71%;
    border: 2px solid red;
    height
}

.mainBodyComponent {
    margin-left: 15%;
    margin-top: 25%;
    border: 2px solid yellow;
}

.tableHeading {
    display: inline-block;
    padding: 15px
}

#logo {
    margin-left: 50px;
    border-radius: 10%
}

.logo {
    padding: 5px;
    padding-top: 8px;
}

.breadcrumb-row {
    margin-bottom: 20px
}

.header-elements {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 400;
    font-family: "Roboto";
    cursor: pointer;
    color: #B6BDC5
}

.upgrade-style {
    color: #3dcc6c;
}

.header-elements:hover {
    background-color: white;
    color: #549afc;
}

#remove-hover-bg:hover {
    background-color: white;
}

.header-row {
    margin-left: 60%;
    padding: 5px
}

.search-bar {
    width: 75%;
    margin-top: 10px;
    border-width: 0.5px;
    border-radius: 4px;
    background: #fcfcfd;
    background-image: url('/assets/search_icon.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #d0d4d9;
}

.search-bar:focus {
    width: 100%;
    outline: none;
}

.document-list {
    /*margin-top: 17%;*/
}

.fixed-table-heading {
    clear: left
}

.heading-style {
    cursor: pointer;
    text-align: left;
    font-size: 12px;
    color: #737373;
    font-weight: 600;
}

.side-menu-items {
    text-align: justify;
    cursor: pointer;
    color: #549afc;
    padding: 5px;
    font-size: 13px;
}

.side-menu-items:active {
    cursor: pointer;
    color: black;
    padding: 5px;
    font-size: 13px;
}

.navbar-style {
    background: white;
}

.navbar-border {
    border-bottom: 1px solid rgba(84, 154, 252, 0.23);
}

.app-items:hover {
    background: white
}

.breadcrumb-color {
    color: grey;
    padding-right: 4px;
}

.action-icons {
    font-size: 24px;
    padding-right: 5px;
    cursor: pointer;
    color: black;
}

.center-aligned {
    display: block;
    text-align: center;
    color: grey;
    margin: auto;
}

.modal-header-style {
    color: white;
    background: #4f9cf5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: Signika;
}

.delete-modal-header-style {
    color: white;
    background: #D60A00;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: Signika;
}

.create-btn {
    background: #4f9cf5;
}

.delete-btn {
    background: #D60A00;
}

.delete-btn:hover {
    background: #D60A00;
}

.create-btn:hover {
    background: #4f9cf5;
}

.profile-icon {
    font-size: 25px;
}

.modal-icon-style {
    border-radius: 50%;
    background: #2c5f9a;
    font-size: 30px;
    width: 60px;
    padding: 15px;
}

.delete-modal-icon-style {
    border-radius: 50%;
    background: #9b0601;
    font-size: 30px;
    width: 60px;
    padding: 15px;
    content: url("trash.png");
}

#folderName {
    width: 60%;
    text-align: center;
    padding: 30px 0 30px 0;
    border: none;
    display: block;
    font-family: Signika;
    margin: auto;
    font-size: 18px;
}

#folderName:focus {
    outline: none;
    border: none;
}

.footer-item {
    font-size: 12px;
}

.below-navbar {
    border-bottom: 1px solid #d2cdcd
}

.listHeading {
    padding: 10px;
    background: #e4e4e4;
    color: grey;
}

.modal-title-style {
    font-size: 22px;
    font-weight: normal;
    font-family: Signika;
}

.modal-title-inner-text {
    font-size: 14px;
    font-weight: normal;
    font-family: Signika;
}

.side-item-selected {
    background-color: #ececec;
    color: black;
    border-radius: 3px;
    margin-right: 15px
}

.row-selected {
    background: rgba(79, 156, 245, 0.16);
}

.modal-content {
    border-radius: 5px;
}

.sortIcon {
    padding-left: 5px;
    font-size: 14px;
}

.trash-icon:hover {
    color: red;
}

.download-icon:hover {
    color: #285c98;
}

.edit-icon {
    font-size: 20px!important;
}

.edit-icon:hover {
    color: #0b368a
}

.__react_component_tooltip.type-dark {
    background: #4e4e4e!important;
    color: white!important;
    opacity: 1 !important;
}

.__react_component_tooltip.type-dark.place-bottom:after {
    border-bottom-color: #4e4e4e!important;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    opacity: 1 !important;
}

.uploadingList {
    background: rgba(212, 209, 209, 0.39);
    color: #afabab;
    border-bottom: 1px solid #d2cdcd;
}

.more-menu {
    display: none
}

.popover-content {
    padding: 0px
}

.popover-list {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
    cursor: default;
    text-align: center;
}

.input-no-border {
    border: none;
}

.input-no-border:focus {
    font-size: 14px;
    background: #e3effd;
    border-bottom: 2px solid #abcdef;
    border-bottom-left-radius: 4px;
    outline-style: initial;
    border-bottom-right-radius: 4px;
}

.nameInput {
    display: none;
}

.close-icon {
    font-size: 25px;
    padding-right: 5px;
}

.dashboard-menuitem {
    padding-top: 3px;
}

.appid-menuitem {
    padding-top: 3px;
}

.side-bar-icon {
    font-size: 24px;
    color: #2e619c;
}

.error-text {
    color: #ceb531;
    text-align: center;
    display: block;
}

.dashboard-icon {
    font-size: medium
}

.upload-icon {
    cursor: pointer;
}

.create-folder-icon {
    cursor: pointer;
}

.delete-modal-body {
    text-align: center;
    padding: 30px;
    font-family: Signika;
    color: #585858;
    font-size: large;
}

.modal-title {
    font-size: 20px;
}

.popover-list-item {
    border: none;
}

.profilePic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.selected-app {
    background: #e8e8e8;
    border-radius: 3px;
    margin-left: 1px;
    margin-right: 1px
}

.new-folder-modal-title {
    vertical-align: middle;
}

.myApps-heading {
    padding: 5px;
    background: #e8e8e8;
    text-align: center;
    margin-top: -5px;
    cursor: default;
}
