ul {
    list-style-type: none;
}

table {
    //border:1px solid black;
    width: 100%;
}

th {
    padding: 5px;
}

.listStyle {
    border-bottom: 1px solid #d2cdcd;
}

.listStyle:hover {
    background-color: #dbf1f1;
    border-bottom: 1px solid #d2cdcd;
}

.dataStyle {
    padding: 10px;
}

.header {
    padding: 20px
}

.navBarComponent {
    padding: 20px;
    position: fixed;
    background-color: white;
    z-index: 100;
    width: 100%;
    border: 2px solid black;
}

.fixed-navbar {
    /*position: fixed;
    width: 71%;*/
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid #549afc;
}

.dropBody {
    border: 2px solid #59cbff;
    border-radius: 10px;
    margin: 10px;
}

.dropBody2 {
    background-color: #cdebff;
    border-radius: 50px;
    margin: 10px;
}

.inlineRight {
    display: inline-block;
    float: right;
    padding-top: 5px;
}

.inlineLeft {
    display: inline-block;
    /*float: left;*/
    padding-top: 5px;
}

.inline {
    display: inline-block;
    padding: 5px
}

.profile-photo {
    border-radius: 50%;
}

.fetching-loader {
    margin-left: 30%
}

.sideBarComponent {
    position: fixed;
    margin-top: 15%;
    height: 71%;
    border: 2px solid red;
    height
}

.mainBodyComponent {
    margin-left: 15%;
    margin-top: 25%;
    border: 2px solid yellow;
}

.tableHeading {
    display: inline-block;
    padding: 15px
}

#logo {
    padding: 20px;
}

.breadcrumb-row {
    margin-bottom: 20px
}

.header-elements {
    padding-left: 5px;
    padding-right: 5px
}

.header-row {
    margin-left: 60%;
    padding: 5px
}

.search-bar {
    border-width: 0.5px;
    border-radius: 4px;
    background-image: url(https://cfl.dropboxstatic.com/static/images/search/search-icon-dark-vflabFggm.png);
    background-position: right;
    background-repeat: no-repeat;
}

.document-list {
    /*margin-top: 17%;*/
}

.fixed-table-heading {
    clear: left
}

.heading-style {
    cursor: pointer;
    text-align: left;
    font-size: 12px;
    color: #737373;
    font-weight: 600;
}
