ul {
    list-style-type: none;
}

table {
    //border:1px solid black;
    width: 100%;
}

th {
    padding: 5px;
}

body {
    font-family: "Roboto";
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.listStyle {
    border-bottom: 1px solid #d2cdcd;
}

.listStyle:hover {
    background-color: #dbf1f1;
    border-bottom: 1px solid #d2cdcd;
}

.dataStyle {
    padding: 10px;
}

.header {
    padding: 20px
}

.navBarComponent {
    padding: 20px;
    position: fixed;
    z-index: 100;
    width: 100%;
    border: 2px solid black;
}

.fixed-navbar {
    /*position: fixed;
    width: 71%;*/
    z-index: 100;
    border-bottom: 1px solid #549afc;
}

.dropBody {
    border: 2px solid #59cbff;
    border-radius: 10px;
    margin: 10px;
    padding-left: 5%;
    padding-bottom: 5%;
}

.dropBody2 {
    background-color: #cdebff;
    border-radius: 50px;
    margin: 10px;
    padding-left: 5%;
    padding-bottom: 5%;
}

.inlineRight {
    display: inline-block;
    float: right;
    padding-top: 5px;
}

.inlineLeft {
    display: inline-block;
    /*float: left;*/
    padding-top: 5px;
}

.inline {
    display: inline-block;
    padding: 5px
}

.profile-photo {
    border-radius: 50%;
}

.fetching-loader {
    margin-left: 30%
}

.sideBarComponent {
    position: fixed;
    margin-top: 15%;
    height: 71%;
    border: 2px solid red;
    height
}

.mainBodyComponent {
    margin-left: 15%;
    margin-top: 25%;
    border: 2px solid yellow;
}

.tableHeading {
    display: inline-block;
    padding: 15px
}

#logo {
    border-radius: 10%
}

.logo {
    padding: 5px
}

.breadcrumb-row {
    margin-bottom: 20px
}

.header-elements {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 400;
    font-family: "Roboto";
    cursor: pointer;
    color: #B6BDC5
}

.upgrade-style {
    color: #3dcc6c;
}

.header-elements:hover {
    background-color: white;
    color: #549afc;
}

#remove-hover-bg:hover {
    background-color: white;
}

.header-row {
    margin-left: 60%;
    padding: 5px
}

.search-bar {
    border-width: 0.5px;
    border-radius: 4px;
    background: #fcfcfd;
    background-image: url(https://cfl.dropboxstatic.com/static/images/search/search-icon-dark-vflabFggm.png);
    background-position: right;
    background-repeat: no-repeat;
}

.document-list {
    /*margin-top: 17%;*/
}

.fixed-table-heading {
    clear: left
}

.heading-style {
    cursor: pointer;
    text-align: left;
    font-size: 12px;
    color: #737373;
    font-weight: 600;
}

.side-menu-items {
    cursor: pointer;
    color: #549afc;
    padding: 5px;
    font-size: 13px;
}

.side-menu-items:active {
    cursor: pointer;
    color: black;
    padding: 5px;
    font-size: 13px;
}

.navbar-style {
    background: white;
}

.navbar-border {
    border-bottom: 1px solid rgba(84, 154, 252, 0.56);
}
